.development-board {
    height: 100vh;
}

.development-board .screen-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 84px;
    min-height: 100vh;
    width: calc(100vw - 84px);
    background-color: #F8F9FA;
}
